<!DOCTYPE html>
<html>
<head>
	<title>Domain Check</title>
	<style>
	.available{
			border: 2px solid green;
			border-radius: 12px;
			padding: 5px;
			margin: 3px;
			background-color: #90EE90;
			}
	.taken{
			border: 2px solid red;
			border-radius: 12px;
			padding: 5px;
			margin: 3px;
			background-color: #FFCCCB;
			}
			.mainForm{
				margin: 10px;
			}
			.mainInput{
				width:100%;
				max-width: 500px;
				border-radius: 12px;
				font-size: 24px;
			}
	</style>
</head>
<body>
    <center>
<form method="post" id="domainCheck-form" class="mainForm">
		<input type="text" name="domainCheck" class="mainInput" id="domainCheck" autofocus spellcheck="false">
		<button type="submit">submit</button>
	</form>

    <p id="checkResults"></p>
</center>

		<!--Jquery Cdn -->
<script src="https://code.jquery.com/jquery-3.5.1.js"
		integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
		crossorigin="anonymous"></script>

<script type="text/javascript">
	$(document).on('submit','#domainCheck-form',function(e)
				{
	console.log('hello');
	e.preventDefault();
	$.ajax({
		type:'POST',
		url:'/',
		data:{
		checkDomain:$("#domainCheck").val()
		},
		success:function(data)
		{
		//alert(data);
        $("#checkResults").html(data);
		}
	})
	});
</script>

</body>
</html>
